.heading{
    margin-top: 130px;
    text-align: center;
    padding: 20px;
}
.card-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}
.exe-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 240px;
    width: 275px;
    box-shadow: 0 1px 5px #f48fb1;  
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
}
.exe-cards:hover{
    box-shadow:0 2px 10px #f48fb1; 
    transition: 0.3s;
}
.exe-img{
    width: 275px;
    height: 175px;
    border-radius: 20px 20px 5px 5px;
    margin-bottom: 15px;
}
.exe-flashcard-container {
    display: flex;
    justify-content: center;
}
