.heading{
    color: #c93779;
    text-align: center;
    padding: 20px;
}
.card-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}
.exe-cards{
    color: #c93779;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 240px;
    width: 275px;
    box-shadow: 0 1px 5px #f48fb1;  
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
}
.exe-cards:hover{
    box-shadow:0 2px 10px #f48fb1; 
    transition: 0.3s;
}
.exe-img{
    width: 275px;
    height: 175px;
    border-radius: 20px 20px 5px 5px;
    margin-bottom: 15px;
}
.exe-flashcard-container {
    display: flex;
    justify-content: center;
}
.exe-flashcard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    border: 2px solid black;
    background-color: #fff7fb;
    padding: 10px;
    border-radius: 30px;
    margin-left: 10px;
}

.exe-flashcard-img {
    width: 250px;
    border-radius: 30px;
    margin: 7px;
}
.benefits {
    padding: 20px;
}

.cancel {
    height: 20px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}
@media (max-width: 600px) {
    .exe-flashcard {
        display: flex;
        top: 150px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: fixed;
        border: 2px solid black;
        background-color: whitesmoke;
        padding: 10px;
        height: 400px;
        border-radius: 30px;
        margin-left: 10px;
    }
}
