*{
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body{
  margin:0;
  background: linear-gradient(135deg, #ffe6f0, #fff);
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* Main Wrapper */
.quiz-wrapper{
  background:#fff;
  width:420px;
  padding:35px;
  border-radius:20px;
  box-shadow:0 15px 35px rgba(0,0,0,0.15);
  text-align:center;
}

/* Title */
.quiz-wrapper h1{
  color:#e91e63;
  margin-bottom:5px;
}

.subtitle{
  font-size:14px;
  color:#666;
  margin-bottom:25px;
}

/* Progress Bar */
.progress-box{
  background:#f3d1e2;
  border-radius:10px;
  height:10px;
  overflow:hidden;
  margin-bottom:8px;
}

#progressBar{
  height:100%;
  width:0%;
  background:#e91e63;
  transition:0.4s;
}

#quizProgress{
  font-size:13px;
  color:#777;
}

/* Question Card */
.quiz-card{
  margin-top:25px;
  animation: fade 0.4s ease;
}

@keyframes fade{
  from{opacity:0; transform:translateY(10px);}
  to{opacity:1; transform:translateY(0);}
}

.quiz-card h2{
  font-size:18px;
  color:#333;
  margin-bottom:30px;
}

/* Buttons */
.options{
  display:flex;
  justify-content:center;
  gap:20px;
}

.options button{
  width:120px;
  padding:12px;
  border:none;
  border-radius:30px;
  font-size:15px;
  cursor:pointer;
  transition:0.3s;
}

.yes{
  background:#e91e63;
  color:white;
}

.no{
  background:#ddd;
  color:#333;
}

.options button:hover{
  transform:scale(1.05);
}

/* Result Box */
.result{
  margin-top:25px;
}

.result h3{
  margin-bottom:10px;
}

.result button{
  margin-top:20px;
  padding:12px 25px;
  border:none;
  border-radius:25px;
  background:#e91e63;
  color:white;
  cursor:pointer;
}

.hidden{
  display:none;
}
