.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 40px;
  margin: 10px auto;
  padding: 10px;
  max-width: 500px;
 
}
.form-container.active{
  display: none;
}
.form-heading{
    display: flex;
    align-items: center;
    text-align: center; 
    padding: 0%; 
    font-size:30px;
}
.user-profile{
    height: 60px;
    border:2px solid #cc0052;
    border-radius: 40px;
    margin-right: 5px;
    margin-top: 5px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}
.item-holder {
  display: flex;
  gap: 15px;
  
}
.form-item{
    background-color: #fff7fb;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.form-item:focus{
  outline: none;
}

.btn{
  background: #cc0052;
  color:white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  padding: 8px;
}

.profile-heading{
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  justify-content:left ;
  align-items: center;
  text-align: center; 
  padding: 0%; 
  font-size:30px;
}

.password-container{
  display: flex;
  align-items: center;
  border: 1px solid rgb(198, 197, 197);
  border-radius: 5px;
}
#password{
  border: none;
  width: 85%;
}
.eye-img{
    cursor:  pointer;
  height: 25px;
}
.btn1{
  font-size: 16px;
  background-color:#cc0052;
  color: white;
  border: none;
  border-radius: 5px; ;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px 10px;
}
.toggle-btn{
  display: block;
  font-size: 16px;
  background-color:#ffbfec;
  color: #d85590;
  border: 2px solid #d85590;
  border-radius: 5px; ;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px 7px;
}
#info{
  margin-top: -12px; 
  font-size: 14px; 
  text-align: center;
}